[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMJMCMC"]
	path = EMJMCMC
	url = https://github.com/cran/EMJMCMC
[submodule "MADMMplasso"]
	path = MADMMplasso
	url = https://github.com/cran/MADMMplasso
[submodule "SparseFunClust"]
	path = SparseFunClust
	url = https://github.com/cran/SparseFunClust
[submodule "nutrition"]
	path = nutrition
	url = https://github.com/wleoncio/nutrition
[submodule "simExam"]
	path = simExam
	url = https://github.com/wleoncio/simexam
